{{#each this}}
  <li class='best-sellers-list-item swiper-slide pop-up-item' id={{_id}}>
    <img src='{{book_image}}' class='book-cover-img' alt='{{list_name}}' />
    <p class='book-title'>{{title}}</p>
    <p class='book-author'>{{author}}</p>
  </li>
{{/each}}