{{#each this}}
  <li class='category-list-item pop-up-item' id={{_id}}>
    <img
      src='{{book_image}}'
      class='category-book-cover-img'
      alt='{{list_name}}'
    />
    <p class='category-book-title'>{{title}}</p>
    <p class='category-book-author'>{{author}}</p>
  </li>
{{/each}}